.trans{
    display: block;
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 1px solid red;
}

.trans:hover{
    width: 500px;
    height: 500px;
    background-color: red;
    transition-property: all;
    transition-delay: 1s;
    transition-duration: 5s;
}

.anim{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: blue;
    border: 1px solid red;
    animation: move 5s infinite; 
}

@keyframes move{
    0% {
        margin-left: 100%;
    }

    40% {
        background-color: blueviolet;
        animation-timing-function: ease-out;
    }

    50% {
        margin-left: 20%;
        animation-timing-function: ease-in;
    }

    90%{
        background-color: aquamarine;
        animation-timing-function: ease-out;
    }
}
